<% content_for :scripts do %>
<%= javascript_include_tag *js_dependencies %>

<script type="text/javascript">
<%=raw options.to_gmaps4rails %>
</script>
<% end %>

<% case dom.map_provider %>
<% when "mapquest" %>
<div id="<%= dom.map_id %>" style="width:750px; height:475px;">
  <!-- TODO: change this style dynamically -->  
</div>
<% when "bing" %>
  <div id="<%= dom.map_id %>" class="<%= dom.map_class %>"></div>
<% else %>
<div class="<%= dom.container_class %>"> 
  <div id="<%= dom.map_id %>" class="<%= dom.map_class %>"></div>
</div>
<% end %>