<% content_for Gmaps4rails::script_block.to_sym do %>
<%= javascript_include_tag *js_dependencies %>

<script type="text/javascript">
(function(window){
  var gmaps4railsInit = function() {
    <%=raw options.to_gmaps4rails %>
  };
  if (window.require && window.define && window.define.amd) {
    window.require(['gmaps4rails'], function(Gmaps){
      gmaps4railsInit();
    });
  } else {
    gmaps4railsInit();
  }
})(this);
</script>
<% end %>

<% case dom.map_provider %>
<% when "mapquest" %>
<div id="<%= dom.map_id %>" style="width:750px; height:475px;">
  <!-- TODO: change this style dynamically -->  
</div>
<% when "bing" %>
  <div id="<%= dom.map_id %>" class="<%= dom.map_class %>"></div>
<% else %>
<div class="<%= dom.container_class %>"> 
  <div id="<%= dom.map_id %>" class="<%= dom.map_class %>"></div>
</div>
<% end %>
