<% case options[:map_options].try(:[], :provider)  %>
<% when "mapquest" %>
<div id="<%= gmaps4rails_map_id(options) %>" style="width:750px; height:475px;">
  <!-- TODO: change this style dynamically -->  
</div>
<% when "bing" %>
  <div id="<%= gmaps4rails_map_id(options) %>" class="<%= gmaps4rails_map_class(options) %>"></div>
<% else %>
<div class="<%= gmaps4rails_container_class(options) %>"> 
  <div id="<%= gmaps4rails_map_id(options) %>" class="<%= gmaps4rails_map_class(options) %>"></div>
</div>
<% end %>