<% case map_options.try(:[], :provider)  %>
<% when "mapquest" %>
<div id="<%= gmaps4rails_map_id(map_options) %>" style="width:750px; height:475px;">
  <!-- TODO: change this style dynamically -->  
</div>
<% when "bing" %>
  <div id="<%= gmaps4rails_map_id(map_options) %>" class="<%= gmaps4rails_map_class(map_options) %>"></div>
<% else %>
<div class="<%= gmaps4rails_container_class(map_options) %>"> 
  <div id="<%= gmaps4rails_map_id(map_options) %>" class="<%= gmaps4rails_map_class(map_options) %>"></div>
</div>
<% end %>