<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Gmaps</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @users.each_with_index do |user, index| %>
  <% break if index == 5  %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.address %></td>
    <td><%= user.latitude %></td>
    <td><%= user.longitude %></td>
    <td><%= user.gmaps %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<!-- <div class="map_container"> 
  <div id="map" class="gmaps4rails_map"></div> 
</div>  -->
<script type="text/javascript" charset="utf-8"> 
//window.onload =alert('ok');

//  
// Gmaps.map = new Gmaps4RailsGoogle();
// function load_map() {
// Gmaps.map.initialize();
// Gmaps.map.callback();
// };
// window.onload = function() { Gmaps.loadMaps(); };
//  
//Gmaps.map.map_options.class = 'gmaps4railsmap';
</script> 


<%= link_to 'New User', new_user_path %>

<%#= gmaps({"markers"     => {"data" => @json }, 
          "map_options" => { :provider => "openlayers"}}) %> 
<%#= gmaps({}) %> 


<%#= gmaps({
    :map_options => {
  #      :auto_adjust => false,
   :center_on_user => true,
         :zoom => 3,
         :raw => '{ scrollwheel: false }',
         :center_latitude => 41.574361,
         :center_longitude => -72.949219,
          :libraries => ["places"] }
 }) %>
 <%#= gmaps( :map_options => {:auto_adjust=>true, :auto_zoom=>true}, :markers => {:data=>"[{\"lat\":43.5368851,\"lng\":-79.6849913}]"}, :circles => {:data=>"[{\"lng\":-79.6849913,\"lat\":43.5368851,\"radius\":5000.0,\"strokeColor\":\"#DD3300\"}]", :options=>{:fillOpacity=>0.35}} )
  %>
  <%#= gmaps4rails(@json) %>
  <%#= gmaps(:markers => {:data => @json}, :map_options => { :detect_location => true, :auto_zoom => false, :zoom => 15, :auto_adjust => true, :center_on_user => true}) %>
 <%#= gmaps(:map_options => { :auto_adjust => true }, 
   :markers => {
     :data => @json,
     :options => {:do_clustering => true}
    }) %>

<%#= gmaps("markers" => { "data" => @json, "options" => { 
  "picture" => "/logo.png", 
  "width" => 30, "marker_length" => 32 } }) %>


<%#= gmaps( {:map_options => { :disableDefaultUI => true, :auto_adjust => true, :center_on_user => true, :detect_location => true,  :center_latitude => 41.574361,
 :center_longitude => -72.949219 }}) %>
 <%#= gmaps(:map_options => {:type => "ROADMAP"}, 
           :markers => {:data => @json,
                        :options => {"list_container" => "markers_list" }
                       })%>
<div id="markers_list"></div>
<%#= gmaps(:map_options => { :auto_adjust => true },
      :markers => { :data => '[{"lat":42.3124,"lng":71.1712}]', :options => {:do_clustering => true} }) %>

<%= gmaps(:markers => {:data => @json, :options => {:do_clustering => false, "custom_infowindow_class" => "yellow", :raw => "{ flat: true, draggable: true}" } },
          :polygons => {:data =>  '[[
  {"lng": 5.190262, "lat": 25.774252},
  {"lng": 7.118292, "lat": 45.466465},
  {"lng": 4.75737, "lat": 53.321384}
  ]]'},
  "circles"     => { "data" => '[
{"lng": -122.214897, "lat": 37.772323, "radius": 1000000},
{"lng": 122.214897, "lat": 37.772323, "radius": 1000000, "strokeColor": "#FF0000"}
]'},
        "polylines"   => { "data" => '[[
{"lng": -122.214897, "lat": 37.772323},
{"lng": -157.821856, "lat": 21.291982},
{"lng": 178.431, "lat": -18.142599},
{"lng": 153.027892, "lat": -27.46758}
],
[
{"lng": -120.214897, "lat": 30.772323, "strokeColor": "#000", "strokeWeight" : 2 },
{"lng": -10.821856, "lat": 50.291982}
]]' },
          :map_options => {:auto_adjust => true, :auto_zoom => false, :zoom => 3, :center_on_user => false, :detect_location => false, :raw => "{styles: pinkParksStyles}" },
          :last_map => true) %>
<%#= gmaps(:markers => {:data => '[{ "lng": "5.9311119", "lat": "43.1251606"} ,{ "lng": "2.3509871", "lat": "48.8566667" },{ "lng": "0", "lat": "0" } ]', "options" => {"do_clustering" => true, "draggable" => true  } },
          :map_options => { :auto_adjust => true, :center_on_user => true, :zoom => 5, :id => "ed" },
          :scripts => "api",
          :last_map => false ) %>
<%#= gmaps(:markers => {:data => @json, :options => {:do_clustering => false, :draggable => true  } },
          :map_options => { :auto_adjust => true, :center_on_user => true, :zoom => 5, :provider => "openlayers", :id => "joe" },
          :scripts => "api",
          :last_map => false)
           %> 
<%#= gmaps(:markers => {:data => @json, :options => {:do_clustering => false, :draggable => true  } },
          :map_options => { :auto_adjust => true, :center_on_user => true, :zoom => 5, :id => "joe3", :provider => "mapquest", :provider_key => MAPQUEST_KEY },
          :scripts => "api",
          :last_map => false ) %> 
<%#= gmaps(:markers => {"data" => @json, :options => {:do_clustering => false, :draggable => true  } },
          :map_options => { :auto_adjust => true, :center_on_user => true, :zoom => 5, :id => "joe2", :provider => "bing", :provider_key => BING_KEY },
          :scripts => "api" ) %>
<%#= gmaps({
         "map_options" => { "auto_adjust" => false, "zoom" => 0, "libraries" => ["places"] },
         "markers" => { "data" => @json }
          }, true, true) %>
<%# @circles_json = '[ {"lng": -122.214897, "lat": 37.772323, "radius": 1000000} ]' %>
          <%#= gmaps(
              "circles"    => { "data" => @circles_json } , "map_options" => { "auto_adjust" => true }
            )  %>
            <button type="button" onclick="Gmaps.map.replaceMarkers(builder2)">Replace Markers</button>
            <button type="button" onclick="Gmaps.map.addMarkers(builder2)">Add Markers</button>
            <button type="button" onclick="Gmaps.map.addMarkers(builder3)">Add Markers bis</button>

<% content_for :scripts do -%>
<script type="text/javascript" charset="utf-8">

// Gmaps.map.jsTemplate = function(marker_container){
//   return "ok";
// }

 //    function HomeControl(controlDiv, map) {
 //        var chicago = new google.maps.LatLng(41.850033, -87.6500523);
 //      
 //        // Set CSS styles for the DIV containing the control
 //        // Setting padding to 5 px will offset the control
 //        // from the edge of the map.
 //        controlDiv.style.padding = '5px';
 //      
 //        // Set CSS for the control border.
 //        var controlUI = document.createElement('DIV');
 //        controlUI.style.backgroundColor = 'white';
 //        controlUI.style.borderStyle = 'solid';
 //        controlUI.style.borderWidth = '2px';
 //        controlUI.style.cursor = 'pointer';
 //        controlUI.style.textAlign = 'center';
 //        controlUI.title = 'Click to set the map to Home';
 //        controlDiv.appendChild(controlUI);
 //      
 //        // Set CSS for the control interior.
 //        var controlText = document.createElement('DIV');
 //        controlText.style.fontFamily = 'Arial,sans-serif';
 //        controlText.style.fontSize = '12px';
 //        controlText.style.paddingLeft = '4px';
 //        controlText.style.paddingRight = '4px';
 //        controlText.innerHTML = 'Home';
 //        controlUI.appendChild(controlText);
 //      
 //        // Setup the click event listeners: simply set the map to Chicago.
 //        google.maps.event.addDomListener(controlUI, 'click', function() {
 //          map.setCenter(chicago)
 //        });
 //      }
 //      
      Gmaps.map.callback = function(){
        // Create the DIV to hold the control and call the HomeControl() constructor
        // passing in this DIV.
        // var homeControlDiv = document.createElement('DIV');
        // var homeControl = new HomeControl(homeControlDiv, Gmaps.map.map);
        //       
        // homeControlDiv.index = 1;
        // Gmaps.map.map.controls[google.maps.ControlPosition.TOP_RIGHT].push(homeControlDiv);
        //Gmaps.map.serviceObject.setZoom(1);
      };
 //      
 //      
      var pinkParksStyles = [
        {
          featureType: "all",
          stylers: [
            { saturation: -80 }
          ]
        },
        {
          featureType: "poi.park",
          stylers: [
            { hue: "#ff0023" },
            { saturation: 40 }
          ]
        }
      ];
 //    
 // 
 
 Gmaps.map.infobox = function(boxText) {
  return {
     content: boxText
    ,disableAutoPan: false
    ,maxWidth: 0
    ,pixelOffset: new google.maps.Size(-140, 0)
    ,zIndex: null
    ,boxStyle: { 
      background: "url('http://google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.5/examples/tipbox.gif') no-repeat"
      ,opacity: 0.75
      ,width: "280px"
       }
    ,closeBoxMargin: "10px 2px 2px 2px"
    ,closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
    ,infoBoxClearance: new google.maps.Size(1, 1)
    ,isHidden: false
    ,pane: "floatPane"
    ,enableEventPropagation: false
 }};

</script>
 <script type="text/javascript" charset="utf-8">
 
var builder2 =  
      [
{
"lng": "5.9311119",
"lat": "42.1251606",
} ,{
"lng": "32.3509871",
"lat": "47.8566667",
}
];
var builder3 = [{
"lng": "6.9311119",
"lat": "49.1251606",
} ,{
"lng": "39.3509871",
"lat": "40.8566667",
} ];
</script>
<% end -%>