<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @user.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @user.longitude %>
</p>

<p>
  <b>Gmaps:</b>
  <%= @user.gmaps %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
