<% #thanks to enable_css, user can avoid this css to be loaded
if enable_css == true %>
	<% content_for :head do %>
	<%= stylesheet_link_tag 'gmaps4rails' %>
	<% end %>
<% end %>

<% content_for :scripts do %>
<% if enable_js == true %>
	<%=javascript_include_tag 'gmaps4rails.base' %>
	<script type="text/javascript" src='http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclusterer/1.0/src/markerclusterer_compiled.js'></script>
<% end  %>
<script type="text/javascript" charset="utf-8">
function gmaps4rails_init() {
	<% #true is passed here to trigger map initialization %>
	<%=raw options.to_gmaps4rails(true) %>
}
  
function gmaps4rails_loadScript() {
  var script = document.createElement("script");
  script.type = "text/javascript";
  script.src = "http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&callback=gmaps4rails_init";
  document.body.appendChild(script);
}
  
window.onload = gmaps4rails_loadScript;

</script>
<% end %>
<div id="<%= options['map_options'].try(:[],'container_id').nil? ? "map_container" : options['map_options']['container_id'] %>"> 
  <div id="<%= options['map_options'].try(:[],'id').nil? ? "gmaps4rails_map" : options['map_options']['id'] %>"></div>
</div>