<% content_for :head do %>
<%= stylesheet_link_tag '../../../public/stylesheets/gmaps4rails' %>
<% end %>

<% content_for :scripts do %>
<script src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src='http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclusterer/1.0/src/markerclusterer.js'></script>
<%=javascript_include_tag '../../../public/stylesheets/gmaps4rails' %>
<script type="text/javascript" charset="utf-8">
<% options.each do |key, value| %>
Gmaps4Rails.<%= key %> = <%=raw value.is_a?(String) ?  "'#{value}'" : value  %>;
<% end %>	
var builder = <%=raw options["processing"] == "json" ? builder : "'#{builder}'" %>;

window.onload = function() {
  Gmaps4Rails.initialize();
	Gmaps4Rails.create_markers(builder);
}
</script>
<% end %>

<div id="<%= options['container_id'] || "map_container" %>"> 
  <div id="<%= options['id'] || "gmaps4rails_map" %>"></div> 
</div>
