
<%= gmaps(:markers => {:data => @json, :options => {:do_clustering => true, :draggable => true } },
          :last_map => false) %>
<%= gmaps(:markers => {:data => '[{ "lng": "5.9311119", "lat": "43.1251606"} ,{ "lng": "2.3509871", "lat": "48.8566667" },{ "lng": "0", "lat": "0" } ]', 
                       "options" => {"do_clustering" => true, "draggable" => true  } },
          :map_options => { :id => "custom_id", :class => "custom_class", :container_class => "custom_container" },
          :scripts => "none",
          :last_map => false ) %>
<%= gmaps(:markers => {:data => @json, :options => {:do_clustering => false, :draggable => true  } },
          :map_options => { :auto_adjust => true, :center_on_user => true, :zoom => 5, :provider => "openlayers", :id => "joe" },
          :scripts => "api",
          :last_map => false ) %> 
<%= gmaps(:markers => {:data => @json, :options => {:do_clustering => false, :draggable => true  } },
          :map_options => { :auto_adjust => true, :center_on_user => true, :zoom => 5, :id => "joe3", :provider => "mapquest", :provider_key => MAPQUEST_KEY },
          :scripts => "api",
          :last_map => false ) %>
<div id="bing">
<%= gmaps(:markers => {"data" => @json, :options => {:do_clustering => false, :draggable => true  } },
          :map_options => { :auto_adjust => true, :center_on_user => true, :zoom => 5, :id => "foo", :provider => "bing", :provider_key => BING_KEY },
          :scripts => "api" ) %>
</div>