<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Gmaps</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.address %></td>
    <td><%= user.latitude %></td>
    <td><%= user.longitude %></td>
    <td><%= user.gmaps %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<!-- <div class="map_container"> 
  <div id="map" class="gmaps4rails_map"></div> 
</div>  -->
<script type="text/javascript" charset="utf-8"> 
//  
// Gmaps.map = new Gmaps4RailsGoogle();
// function load_map() {
// Gmaps.map.initialize();
// Gmaps.map.callback();
// };
// window.onload = function() { Gmaps.loadMaps(); };
//  
//Gmaps.map.map_options.class = 'gmaps4railsmap';
</script> 


<%= link_to 'New User', new_user_path %>

<%= gmaps(:markers => {:data => @json, :options => {:do_clustering => false } },
#           :polygons => {:data =>  '[[
#   {"lng": 5.190262, "lat": 25.774252},
#   {"lng": 7.118292, "lat": 45.466465},
#   {"lng": 4.75737, "lat": 53.321384}
#   ]]'},
#   "circles"     => { "data" => '[
# {"lng": -122.214897, "lat": 37.772323, "radius": 1000000},
# {"lng": 122.214897, "lat": 37.772323, "radius": 1000000, "strokeColor": "#FF0000"}
# ]'},
#         "polylines"   => { "data" => '[[
# {"lng": -122.214897, "lat": 37.772323},
# {"lng": -157.821856, "lat": 21.291982},
# {"lng": 178.431, "lat": -18.142599},
# {"lng": 153.027892, "lat": -27.46758}
# ],
# [
# {"lng": -120.214897, "lat": 30.772323, "strokeColor": "#000", "strokeWeight" : 2 },
# {"lng": -10.821856, "lat": 50.291982}
# ]]' },
          :map_options => { :provider => "bing", :auto_adjust => true, :zoom => 5, :center_on_user => false, :detect_location => false },
          :last_map => true) %>
          

<%#= gmaps(:markers => {:data => '[{ "lng": "5.9311119", "lat": "43.1251606"} ,{ "lng": "2.3509871", "lat": "48.8566667" },{ "lng": "0", "lat": "0" } ]', "options" => {"do_clustering" => true, "draggable" => true  } },
          :map_options => { :auto_adjust => true, :center_on_user => true, :zoom => 5, :id => "ed" },
          :scripts => "none",
          :last_map => false ) %>
<%#= gmaps(:markers => {:data => @json, :options => {:do_clustering => false, :draggable => true  } },
          :map_options => { :auto_adjust => true, :center_on_user => true, :zoom => 5, :provider => "openlayers", :id => "joe" },
          :scripts => "api",
          :last_map => false ) %> 
<%#= gmaps(:markers => {:data => @json, :options => {:do_clustering => false, :draggable => true  } },
          :map_options => { :auto_adjust => true, :center_on_user => true, :zoom => 5, :id => "joe3", :provider => "mapquest", :provider_key => MAPQUEST_KEY },
          :scripts => "api",
          :last_map => false ) %> 
<%#= gmaps(:markers => {"data" => @json, :options => {:do_clustering => false, :draggable => true  } },
          :map_options => { :auto_adjust => true, :center_on_user => true, :zoom => 5, :id => "joe2", :provider => "bing", :provider_key => BING_KEY },
          :scripts => "api" ) %>
<%#= gmaps({
         "map_options" => { "auto_adjust" => false, "zoom" => 0, "libraries" => ["places"] },
         "markers" => { "data" => @json }
          }, true, true) %>
<% @circles_json = '[ {"lng": -122.214897, "lat": 37.772323, "radius": 1000000} ]' %>
          <%#= gmaps(
              "circles"    => { "data" => @circles_json } , "map_options" => { "auto_adjust" => true }
            )  %>
            <button type="button" onclick="Gmaps.map.replaceMarkers(builder2)">Replace Markers</button>
            <button type="button" onclick="Gmaps.map.addMarkers(builder2)">Add Markers</button>
            <button type="button" onclick="Gmaps.map.addMarkers(builder3)">Add Markers bis</button>

<% content_for :scripts do -%>
<script type="text/javascript" charset="utf-8">

Gmaps.map.jsTemplate = function(marker_container){
  return "ok";
}
// Gmaps.map.callback = function() {
//   for (var i = 0; i <  this.markers.length; ++i) {
//      google.maps.event.addListener(Gmaps.map.markers[i].infowindow, 'closeclick', function() { alert('closed'); });
//   }
//   
//   
// }

</script>
 <script type="text/javascript" charset="utf-8">
var builder2 =  
      [
{
"lng": "5.9311119",
"lat": "42.1251606",
} ,{
"lng": "32.3509871",
"lat": "47.8566667",
}
];
var builder3 = [{
"lng": "6.9311119",
"lat": "49.1251606",
} ,{
"lng": "39.3509871",
"lat": "40.8566667",
} ];
</script>
<% end -%>