<%= stylesheet_link_tag 'test' %>

<% content_for :scripts do -%>
<script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/data.json" type="text/javascript"></script>   
<script type="text/javascript" charset="utf-8">

var url = "http://gmaps-utility-library.googlecode.com/svn/trunk/markerclusterer/1.0";
var styles = [{
        url: url + '/images/conv30.png',
        height: 27,
        width: 30,
        anchor: [3, 0],
        textColor: '#FF00FF',
        opt_textSize: 10
      }, {
        url: url + '/images/conv40.png',
        height: 36,
        width: 40,
        opt_anchor: [6, 0],
        opt_textColor: '#FF0000',
        opt_textSize: 11
      }, {
        url: url + '/images/conv50.png',
        width: 50,
        height: 45,
        opt_anchor: [8, 0],
        opt_textSize: 12
      }];

var builder2 = [{"description": "",
"title": "",
"longitude": "5.9311119",
"latitude": "42.1251606",
"picture": "",
"width": "",
"height": ""
} ,{"description": "",
"title": "",
"longitude": "32.3509871",
"latitude": "47.8566667",
"picture": "",
"width": "",
"height": ""
} ];
var builder3 = [{"description": "",
"title": "",
"longitude": "6.9311119",
"latitude": "49.1251606",
"picture": "",
"width": "",
"height": ""
} ,{"description": "",
"title": "",
"longitude": "39.3509871",
"latitude": "40.8566667",
"picture": "",
"width": "",
"height": ""
} ];
function gmaps4rails_geolocation_failure(browser_support) {
	if (browser_support === true)
	 { alert('You refused geolocation'); }
	else {
		alert('geolocation not supported by your browser');
	}
}

function gmaps4rails_infobox(boxText) {
	return {
				 content: boxText
				,disableAutoPan: false
				,maxWidth: 0
				,pixelOffset: new google.maps.Size(-140, 0)
				,zIndex: null
				,boxStyle: { 
				  background: "url('http://google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.5/examples/tipbox.gif') no-repeat"
				  ,opacity: 0.75
				  ,width: "280px"
				 }
				,closeBoxMargin: "10px 2px 2px 2px"
				,closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
				,infoBoxClearance: new google.maps.Size(1, 1)
				,isHidden: false
				,pane: "floatPane"
				,enableEventPropagation: false
	};
}

</script>
<% @options = {
        "map_options" => { "type" => "SATELLITE", "center_longitude" => 180, "zoom" => 3, "auto_adjust" => true},
        "markers"     => { "data" => '[{ "description": "", "title": "", "longitude": "5.9311119", "latitude": "43.1251606", "picture": "", "width": "", "height": "" } ,{ "description": "", "title": "", "longitude": "2.3509871", "latitude": "48.8566667", "picture": "", "width": "", "height": "" } ]',
  											 },
        "polylines"   => { "data" => '[[
{"longitude": -122.214897, "latitude": 37.772323},
{"longitude": -157.821856, "latitude": 21.291982},
{"longitude": 178.431, "latitude": -18.142599},
{"longitude": 153.027892, "latitude": -27.46758}
],
[
{"longitude": -120.214897, "latitude": 30.772323, "strokeColor": "#000", "strokeWeight" : 2 },
{"longitude": -10.821856, "latitude": 50.291982}
]]' },
         "polygons"    => { "data" => '[[
{"longitude": -80.190262, "latitude": 25.774252},
{"longitude": -66.118292, "latitude": 18.466465},
{"longitude": -64.75737, "latitude": 32.321384}
]]' },
         "circles"     => { "data" => '[
{"longitude": -122.214897, "latitude": 37.772323, "radius": 1000000},
{"longitude": 122.214897, "latitude": 37.772323, "radius": 1000000, "strokeColor": "#FF0000"}
]',
         									},
"direction"   => { "data"    => { "from" => "toulon, france", "to" => "paris, france"} , 
									 "options" => {"waypoints" => ["toulouse, france", "brest, france"], "travelMode" => "DRIVING", "display_panel" => true, "panel_id" => "instructions"}
								 }
}
@options2 = {
  "markers"     => { "data" => '[{ "description": "", "title": "", "longitude": "5.9311119", "latitude": "43.1251606", "picture": "", "width": "", "height": "" } ,{ "description": "", "title": "", "longitude": "2.3509871", "latitude": "48.8566667", "picture": "", "width": "", "height": "" } ]', "options" => { "auto_adjust" => true } }
    }
%>
<script type="text/javascript" charset="utf-8">
	function add_all(locations) {
	<%=raw @options.to_gmaps4rails(true) %>
	}
</script>
<% end -%>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.sec_address %></td>
      <td><%= user.latitude %></td>
      <td><%= user.longitude %></td>
      <td><%= link_to "Show", user %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
      <td><%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New User", new_user_path %></p>
<%#= gmaps({ 
	"map_options" => {"zoom" =>3, "auto_adjust" => true},
	"markers"     => {"data" => @json}
}) %>
<%#= gmaps(@options) %>
<%= gmaps("markers" => {"data" => @json, "options" => {"do_clustering" => true, "draggable" => true  } },
          "map_options" => { "auto_adjust" => true, "center_on_user" => true, "zoom" => 5 }) %> 

<%#"bounds" => '[{"lat": 0, "lng": 10 }, {"lat": 20, "lng": 110 } ]'
%>
<%#= gmaps({"map_options" => { "auto_adjust" => true } }) %> <%#"bounds" => '[{"lat": 0, "lng": 10 }, {"lat": 20, "lng": 110 } ]'
					 %>

<% content_for :scripts do %>
<script type="text/javascript" charset="utf-8">

	 Gmaps4Rails.callback = function() {
    function say_yo(arg) { return function(){alert('yo '+ arg + '!' );};};
    for (var i = 0; i <  Gmaps4Rails.markers.length; ++i) {
         google.maps.event.addListener(Gmaps4Rails.markers[i].serviceObject, 'click', say_yo(i));
    }
 	//google.maps.event.addListener(Gmaps4Rails.map, 'click', function(event){ Gmaps4Rails.bounds = event; new google.maps.Marker({position: event.latLng, map: Gmaps4Rails.map});});
    //$("#markers_list").children().first().click(function(){alert('clicked');});
	}
	

	Gmaps4Rails.customClusterer = function() {
		var url = "http://gmaps-utility-library.googlecode.com/svn/trunk/markerclusterer/1.0";
		return [
	      {
	        url: url + '/images/heart30.png',
	        height: 26,
	        width: 30,
	      },
	      {
	        url: url + '/images/heart40.png', 
	        height: 35,
	        width: 40,
	      },
	      {
	        url: url + '/images/heart50.png',
	        width: 50,
	        height: 44,
	      }];
	  };
</script>
	<script type="text/javascript" charset="utf-8">

	Gmaps4Rails.HandleDragend = function(pos) {
	  var geocoder = new google.maps.Geocoder();
	  geocoder.geocode({
	    latLng: pos
	  }, function(responses) {
	    if (responses && responses.length > 0) {
	      alert(responses[0].formatted_address);
	    } else {
	    alert('Cannot determine address at this location.');
	    }
	  });
	};


	Gmaps4Rails.callback = function() {
	  for (var i = 0; i <  this.markers.length; ++i) {
	     var currentMarker = Gmaps4Rails.markers[i].serviceObject;
	     google.maps.event.addListener(currentMarker, 'dragend', function() { Gmaps4Rails.HandleDragend(currentMarker.getPosition()) });
	  }
	};        
	</script>
<% end %>

<button type="button" onclick="Gmaps4Rails.replaceMarkers(data.photos)">Replace Markers 1</button>
<button type="button" onclick="Gmaps4Rails.replaceMarkers(builder2)">Replace Markers</button>
<button type="button" onclick="Gmaps4Rails.addMarkers(builder2)">Add Markers</button>
<button type="button" onclick="Gmaps4Rails.addMarkers(builder3)">Add Markers bis</button>
<button type="button" onclick="add_all()">Add all</button>
<button type="button" id="ajax_map">Ajax Map</button>

<div>
	<ul id="markers_list"></ul>
</div>
<div id="instructions"></div>