<script type="text/javascript" charset="utf-8">
  function testMe(){alert('first')};
  
  window.onload = testMe;
  
  function second(){alert('second')};
  
  window.onload = second;
  
</script><p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @user.sec_address %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @user.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @user.longitude %>
</p>

<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>
</p>